<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>餐费</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.css">
    <script src="../public/js/jquery-3.3.1.js" type="text/javascript"></script>
</head>

<style>
    td:last-child {
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

</style>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12 column">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">

                    </div>
                    <div class="col-md-12 column">
                        <h3 class="text-center">{{ hedui[0].kaishi }} 至 {{ hedui[0].jieshu }} 工作餐统计</h3>
                        <button class="pull-right" onclick="download()">下载到Excel</button>
                    </div>
                    <div class="col-md-6 column">
                        <h3>宝翼</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>部门</th>
                                <th>早餐</th>
                                <th>价格</th>
                                <th>正餐</th>
                                <th>价格</th>
                                <th>夜宵</th>
                                <th>价格</th>
                                <th>合计</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{each baoyi}}
                            {{if $value.bumencaiwu.indexOf('包装')}}
                            <tr>
                                <td>{{ $value.bumencaiwu }}</td>
                                <td>{{ $value.zao }}</td>
                                <td>{{ $value.jiagezao }}</td>
                                <td>{{ $value.zheng }}</td>
                                <td>{{ $value.jiagezheng }}</td>
                                <td>{{ $value.ye }}</td>
                                <td>{{ $value.jiageye }}</td>
                                <td>{{ $value.heji }}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="col-md-12 column"></div>-->
                    <div class="col-md-6 column">
                        <h3>包装</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>部门</th>
                                <th>早餐</th>
                                <th>价格</th>
                                <th>正餐</th>
                                <th>价格</th>
                                <th>夜宵</th>
                                <th>价格</th>
                                <th>合计</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{each baozhuang}}
                            {{if !$value.bumencaiwu.indexOf('包装')}}
                            <tr>
                                <td>{{ $value.bumencaiwu }}</td>
                                <td>{{ $value.zao }}</td>
                                <td>{{ $value.jiagezao }}</td>
                                <td>{{ $value.zheng }}</td>
                                <td>{{ $value.jiagezheng }}</td>
                                <td>{{ $value.ye }}</td>
                                <td>{{ $value.jiageye }}</td>
                                <td>{{ $value.heji }}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p>合计：{{ hedui[0].heji }}</p>
                    </div>
                    <!--<div class="col-md-6 column">-->
                    <!--<h3>小餐厅</h3>-->
                    <!--<form role="form" action="" id="biaodan">-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>综合部</label>-->
                    <!--<input class="form-control" name="zonghe" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>销售部</label>-->
                    <!--<input class="form-control" name="xiaoshou" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>物流部</label>-->
                    <!--<input class="form-control" name="wuliu" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>财务部</label>-->
                    <!--<input class="form-control" name="caiwu" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>工厂部</label>-->
                    <!--<input class="form-control" name="gongchang" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-3 column">-->
                    <!--<label>包装</label>-->
                    <!--<input class="form-control" name="baozhuang" type="number" value="0"/>-->
                    <!--</div>-->
                    <!--<div class="col-md-12 column">-->
                    <!--<button type="submit" class="btn btn-default">更新</button>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    //json转excel 下载时调用 实际传入json参数是个对象
    function jsontoexcel(json) {
        //要导出的json数据
        var jsonData = json;
        //列标题，逗号隔开，每一个逗号就是隔开一个单元格
        let str = `部门,早餐,价格,正餐,价格,夜宵,价格,合计\n`;
        //增加\t为了不让表格显示科学计数法或者其他格式
        for (let i = 0; i < jsonData.length; i++) {
            for (let item in jsonData[i]) {
                str += `${jsonData[i][item] + '\t'},`;
            }
            str += '\n';
        }
        // encodeURIComponent解决中文乱码
        let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
        //通过创建a标签实现
        var link = document.createElement("a");
        link.href = uri;
        //对下载的文件命名
        link.download = "餐费统计.csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    //下载excel
    function download() {
        $.ajax({
            type: "GET",
            url: "getexcel",
            dataType: "json",
            success: function (result) {
                console.log(result); //对象
                jsontoexcel(result);
            }
        });
    }

    //更新小餐厅
    $('#biaodan').on('submit', function (e) { // 禁用表单默认提交事件
        e.preventDefault(); // ajax请求服务器
        $.ajax(
            {
                url: '/gengxin',
                type: 'post',
                dataType: 'json',
                data: $('#biaodan').serialize(),
                // data:{"abd":123},
                success: function (data) {
                    console.log(data);
                }
            });
    });


</script>


</body>

</html>
