<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/bootstrap.css">
    <script src="../public/jquery-3.3.1.js"></script>
</head>
<body>
<div class="col-md-12">
    <div class="col-md-12">
        <ol id="ol" class="breadcrumb" style="font-size: 20px;">
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Library</a></li>-->
            <!--<li class="active">Data</li>-->
        </ol>
    </div>
    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="col-md-3" id="file_name">文件名</td>
                <td class="col-md-2" id="mtime">上次修改时间</td>
                <td class="col-md-1" id="size">大小</td>
                <td class="col-md-1">打开</td>
                <td class="col-md-1">下载</td>
            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>
<script>
    /**
     * ajax_result 每次获取的结果存入ajax_result    排序用
     * temp_url 每次访问的地址存入temp_url     muLuChuLi用
     * list_url 存放目录列表 muLuChuLi用
     * list_length 目录列表长度
     */
    var root_url = "/files";
    var ajax_result = null;
    var temp_url = null;
    var list_url = [];
    var list_length = 0;

    // 目录列表处理并显示
    function muLuChuLi(url) {
        if (url === root_url) {
            list_url = [];
            temp_url = {url: url, parent_url: 0};
            list_url.push(temp_url);
        } else {
            // 如果当前列表存在要访问的url则切割；如果不存在则添加新的url
            let flag_muLuChuLi = false;
            $.each(list_url, function (index, item) {
                console.log('item.url:', item.url);
                console.log('url_path:', url);
                console.log('item.url === url:', item.url === url, 'index:', index);
                if (item.url === url) {
                    list_length = index;
                    flag_muLuChuLi = true;
                    return false;
                }
            });
            if (flag_muLuChuLi) {
                list_url = list_url.slice(0, list_length + 1);
            } else {
                temp_url = {url: url, parent_url: temp_url.url};
                list_url.push(temp_url);
            }
        }
        console.log('list_url:', list_url);
        $('#ol').empty();
        $.each(list_url, function (index, item) {
            let temp = item.url.split('/');
            temp = temp[temp.length - 1];
            $('#ol').append(`<li><a href="${item.url}" isdir=yes>${temp}</a></li>`)
        });
    }

    // 根据获取到的文件列表处理并显示  result为ajax返回结果（json对象）
    function wenJianChuLi(result) {
        $('#tbody').empty();
        $.each(result, function (index, value) {
            trhtml = `<tr><td>${value.file_name}</td>`;
            if (value.isDirectory) {
                trhtml = trhtml + `<td>${value.mtime}</td><td>${value.size}</td>
                                   <td><a href="${value.url_path}" isdir="yes">进入</a></td>
                                   <td><a href="${value.url_path}?download=yes" isdownload="yes" isdir="yes">下载</a></td></tr>`;
            } else {
                trhtml = trhtml + `<td>${value.mtime}</td><td>${value.size}</td>
                                    <td></td><td><a href="${value.url_path}" isdir="no">下载</a></td></tr>`;
            }
            $('#tbody').append(trhtml);
        });
    }

    // 请求服务器获取文件夹内文件列表并显示
    function getfilelist(url) {
        $.ajax({
            type: "GET",
            url,
            dataType: "json",
            success: function (result) {
                console.log('ajax----result: ', result);
                ajax_result = result;
                muLuChuLi(url);
                wenJianChuLi(result);
            }
        });
    }

    getfilelist(root_url);

    // 文件夹打开、下载
    $('#tbody').on('click', 'a', function (e) {
        // let url_path = $(this).parent().parent().children().first().text();
        let url_path = $(this).attr("href");
        if ($(this).attr('isdir') === "yes") {
            if ($(this).attr('isdownload') === "yes") {
                //下载行为默认
            } else {
                e.preventDefault();
                getfilelist(url_path);
            }
        }
    });

    // 目录列表点击
    $('#ol').on('click', 'a', function (e) {
        e.preventDefault();
        let url_path = $(this).attr("href");
        getfilelist(url_path);
    })

    // flag排序用
    var flag = true;

    // 按上次修改时间排序
    $('#mtime').on('click',function () {
        flag = !flag;
        if(ajax_result){
            if(flag){
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(a.mtime < b.mtime) return -1;
                        if(a.mtime > b.mtime) return 1;
                        return 0;
                    }
                );
            }else{
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(b.mtime < a.mtime) return -1;
                        if(b.mtime > a.mtime) return 1;
                        return 0;
                    }
                );
            }
            wenJianChuLi(ajax_result);
        }
    })

    // 按文件名排序
    $('#file_name').on('click',function () {
        flag = !flag;
        if(ajax_result){
            if(flag){
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(a.file_name < b.file_name) return -1;
                        if(a.file_name > b.file_name) return 1;
                        return 0;
                    }
                );
            }else{
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(b.file_name < a.file_name) return -1;
                        if(b.file_name > a.file_name) return 1;
                        return 0;
                    }
                );
            }
            wenJianChuLi(ajax_result);
        }
    })

    // 按文件大小排序
    $('#size').on('click',function () {
        flag = !flag;
        if(ajax_result){
            if(flag){
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(a.size < b.size) return -1;
                        if(a.size > b.size) return 1;
                        return 0;
                    }
                );
            }else{
                var paixu = ajax_result.sort(
                    function(a, b)
                    {
                        if(b.size < a.size) return -1;
                        if(b.size > a.size) return 1;
                        return 0;
                    }
                );
            }
            wenJianChuLi(ajax_result);
        }
    })
</script>
</body>
</html>