<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/jquery-3.3.1.js"></script>
</head>
<body>
<div>
    <p id="p"></p>
    <table style="border:solid 1px">
        <thead>
        <tr>
            <td>url路径</td>
            <td>文件名</td>
            <td>是否文件夹</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<script>
    var list_url = [];
    var temp_url = null;
    var list_length = 0;
    function getfilelist(url){
        $.ajax({
            type: "GET",
            url,
            dataType: "json",
            success: function (result) {
                if (url === '/files') {
                    list_url = [];
                    temp_url = {url: url, parent_url: 0};
                    list_url.push(temp_url);
                } else {
                    let flag = false;
                    $.each(list_url, function (index, item) {
                        console.log('item.url:', item.url);
                        console.log('url:', url);
                        console.log('item.url === url:', item.url === url, 'index:', index);
                        if (item.url === url) {
                            list_length = index;
                            flag = true;
                            return false;
                        }
                    });
                    if (flag) {
                        list_url = list_url.slice(0, list_length + 1);
                    } else {
                        temp_url = {url: url, parent_url: temp_url.url};
                        list_url.push(temp_url);
                    }
                }
                console.log('list_url:', list_url);
                $('#p').empty();
                $.each(list_url, function (index, item) {
                    $('#p').append(`<a href="javascript:void(0)" isdir=true>${item.url}</a>` + "->")
                });

                console.log('result:', result);
                $('#tbody').empty();
                $.each(result, function (index, value) {
                    trhtml = `<tr>
                                <td>${value.url_path}</td>
                                <td>${value.file_path}</a></td>
                                <td>${value.isDirectory}</td>`;
                    if(value.isDirectory){
                        trhtml = trhtml + `<td><a href="javascript:void(0)" isdir=true>进入</a></td></tr>`
                    }else{
                        trhtml = trhtml + `<td><a href="${value.url_path}" isdir=false>下载</a></td></tr>`
                    }
                    $('#tbody').append(trhtml)
                });
            }
        });
    }

    getfilelist("/files");

    $('#tbody').on('click','a',function () {
        let url_path = $(this).parent().parent().children().first().text();
        if($(this).attr('isdir')){
            getfilelist(url_path);
        }
    });
    $('#p').on('click', 'a', function () {
        let url_path = $(this).text();
        getfilelist(url_path);
    })
</script>
</body>
</html>